@import url('reset.css');

:root {
    --headerColor: #fff;
    --boldBlack: #343f52;
    --lightBlack: #60697b;
    --pointBlue: #2656a6;
    --pointLightBlue: #3883FF;
}

html {
    scroll-behavior:smooth;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f8f8;
    box-sizing: border-box;
}
::selection {
    background-color: var(--pointLightBlue);
    color: var(--headerColor);
}
.maxWidth {
    max-width: 1400px;
    margin: auto;
}
.head {
    width: 100%;
    height: 600px;
    margin-bottom: 25px;
    background-image: url('../imgs/bg1.png');
    background-position: center;
    background-repeat: cover;
    background-size: cover;
    text-align: center;
    color: var(--headerColor);
}
.pcNav {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: background-color .5s linear;
}
.pcNav .logo a {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-decoration: none;
    color: var(--headerColor);
}
.pcNav .maxWidth ul {
    float: right;
    padding-top: 23px;
}
.pcNav .maxWidth ul li {
    float: left;
    margin-right: 18px;
}
.pcNav .maxWidth ul li:last-child {
    margin-right: 20px;
}
.pcNav .maxWidth ul li a {
    color: var(--headerColor);
    text-decoration: none;
}
.pcNav .mMenu i {
    font-size: 1.5em;
    float: right;
    padding-top: 20px;
    padding-right: 17.5px;
    display: none;
}
.mobileNav {
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--pointBlue);
}
.mobileNav .mMenuClose i {
    font-size: 1.5em;
    float: right;
    padding-top: 20px;
    padding-right: 17.5px;
}
.mListWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mListWrap li {
    padding: 17.5px;
    list-style: none;
    font-size: 1.3em;
    font-weight: bolder;
}
.mListWrap a {
    color: var(--headerColor);
    text-decoration: none;
}
.head {
    text-align: center;
}
.head .titleWrap {
    padding-top: 240px;
    font-size: 2em;
    line-height: 117%;
    font-weight: bold;
}
.head .qBtn {
    display: inline-block;
    margin-top: 40px;
    width: 183px;
    height: 47px;
    border-radius: 3px;
    background-color: var(--headerColor);
    color: var(--boldBlack);
    text-decoration: none;
    line-height: 47px;
    font-size: 1em;
    font-weight: bolder;
}
.proContainer {
    display: block;
    text-align: center;
}
.proContainer .card {
    width: 435px;
    height: 320px;
    background-color: var(--headerColor);
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 17.5px;
    margin-left: 17.5px;
    margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 24px;
    box-sizing: border-box;
    transition: all .3s;
}
.proContainer .card:first-child {
    margin-left: 0;
}
.proContainer .card:last-child {
    margin-right: 0;
}
.proContainer .card:hover {
    background-color: #4c74b9;
}
.proContainer .card:hover .fa-solid {
    color: var(--headerColor);
}
.proContainer .card:hover .title {
    color: var(--headerColor);
}
.proContainer .card:hover .content {
    color: #f8f8f8;
}
.proContainer header .fa-solid {
    color: #4c74b9;
    font-size: 50px;
    margin-top: 41px;
    margin-bottom: 18px;
}
.proContainer .title {
    font-size: 1.3em;
    font-weight: bolder;
    color: var(--boldBlack);
    margin-top: 10px;
    margin-bottom: 20px;
}
.proContainer .content {
    font-size: 1em;
    font-weight: bold;
    color: var(--lightBlack);
    letter-spacing: 0.8px;
    line-height: 20px;
}
.reviewContainer {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 120px;
}
.reviewContainer .reviewCard {
    width: 100%;
    display: inline-block;
    margin-top: 35px;
    height: 250px;
    background-color: var(--headerColor);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 24px;
    padding: 30px 30px 30px 0;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all .3s;
}
.reviewContainer .reviewCard:hover .inInfo {
    margin-top: -7px;
}
.reviewContainer .reviewCard:hover .content {
    margin-top: -7px;
}
.reviewCard .inInfo {
    width: 300px;
    height: 100%;
    float: left;
    text-align: center;
    border-right: solid 0.6px #000;
    transition: all .3s;
}
.reviewCard .score {
    position: relative;
    top: 26px;
    font-size: 2.4em;
    font-weight: bolder;
}
.reviewCard .fa-solid {
    margin-top: 33px;
    color: #fbad23;
    font-size: 1.3em;
}
.reviewCard .pName {
    margin-top: 10px;
    color: var(--boldBlack);
    font-size: 1em;
}
.reviewContainer .content {
    font-size: 1em;
    color: #131d42;
    line-height: 22px;
    margin-left: 330px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    transition: all .3s;
}
.questionContainer {
    margin-top: 100px;
    width: 100%;
}
.questionContainer .question {
    margin-top: 20px;
    border-radius: 7px;
    padding: 35px 17.5px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    transition: all .68s;
    z-index: 1;
}
.question .q {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--boldBlack);
}
.questionContainer .a {
    font-size: 1em;
    font-weight: bold;
    color: var(--lightBlack);
    background-color: var(--headerColor);
    padding: 0 17.5px 35px 17.5px;
    display: none;
    border-radius: 0 0 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 4px;
}
.questionContainer .fa-solid {
    float: right;
    font-size: 1.3em;
    transition: all .3s;
}
.questionContainer .on {
    border-radius: 7px 7px 0 0;
    transition: all 0s;
}
.questionContainer .on .q {
    color: var(--pointLightBlue);
}
.questionContainer .on .a {
    display: block;
}
.questionContainer .on .fa-solid {
    transform: rotate( 180deg );
}
.contentContainer {
    margin: 100px 0 120px 0;
    padding-top: 50px;
    width: 100%;
    height: 220px;
    background-image: url('../imgs/bg1.png');
    background-position: center;
    background-repeat: cover;
    background-size: cover;
    box-sizing: border-box;
    transition: all .3s;
}
.contentContainer .title {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 29px;
    color: var(--headerColor);
}
.contentContainer .btn {
    cursor: pointer;
    margin: 20px 0 0 0;
    float: left;
    width: 183px;
    height: 47px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1em;
    line-height: 47px;
    text-align: center;
    transition: all 0.2s
}
.contentContainer .opt1 {
    background-color: var(--pointLightBlue);
}
.contentContainer .opt1:hover {
    background-color: var(--headerColor);
}
.contentContainer .opt1:hover a {
    color: var(--boldBlack);
}
.contentContainer .opt1 a {
    text-decoration: none;
    color: var(--headerColor);
}
.contentContainer .opt2 a {
    color: var(--boldBlack);
    text-decoration: none;
}
.contentContainer .opt2:hover {
    background-color: var(--pointLightBlue);
}
.contentContainer .opt2:hover a {
    color: var(--headerColor);
}
.contentContainer .opt2 {
    margin: 20px 0 0 20px;
    background-color: var(--headerColor);
}
.footerContainer {
    padding: 60px 0 0 0;
    margin-top: 100px;
    width: 100%;
    background-color: #353535;
    transition: all .3s;
}
.footerContainer .title h1 {
    font-size: 2em;
    color: var(--headerColor);
    font-weight: bold;
    margin-bottom: 25px;
}
.footerContainer .row {
	display: flex;
	flex-wrap: wrap;
}
.footerContainer .col {
   width: 25%;
}
.footerContainer h2 {
	font-size: 1.1em;
	color: var(--headerColor);
	text-transform: capitalize;
	margin-bottom: 29px;
	font-weight: bold;
	position: relative;
}
.footerContainer h2::before {
	content: '';
	position: absolute;
	bottom: -13px;
	background-color: var(--pointLightBlue);
	height: 2px;
	width: 50px;
}
.footerContainer ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footerContainer ul li {
	font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease;
	color: var(--headerColor);
	display: block;
	
}
.footerContainer ul li a {
    color: var(--headerColor);
    text-decoration: none;
}
.footerContainer ul li:hover {
	color: var(--headerColor);
	margin-left: -7px;
}
.footerContainer ul li a:hover {
	color: var(--headerColor);
	margin-left: -7px;
}
.footerContainer .copyright {
    color: #d7d7d7;
    font-size: 1em;
    padding: 32px 0;
}
  
@media (max-width: 1446px) {
    .pcNav .logo {
        margin-left: 40px;
    }
    .reviewContainer .reviewCard {
        width: 1280px;
        padding-right: 35px;
    }
    .question {
        width: 1280px;
        margin: auto;
        box-sizing: border-box;
    }
    .contentContainer {
        padding-left: 35px;
    }
    .footerContainer {
        padding-left: 35px;
    }
}
@media (max-width: 1391px) {
    .pcNav ul {
        display: none;
    }
    .pcNav .mMenu i {
        display: inline-block;
        color: var(--headerColor);
    }
    .reviewContainer .reviewCard {
        width: 100%;
        margin-left: 0;
    }
    .reviewCard .inInfo {
        width: 200px;
    }
    .question {
        width: 100%;
    }
    .reviewContainer .content {
        margin-left: 230px;
        padding-right: 35px;
    }
}
@media(max-width: 780px){
    .footerContainer .col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .head .titleWrap {
        font-size: 1.6em;
    }
    .head .sub {
        font-size: 1em;
    }
    .proContainer .card {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0 20px;
        padding-right: 20px;
    }
    .reviewContainer .reviewCard {
        width: 100%;
        height: 360px;
        padding: 0;
    }
    .reviewCard .inInfo {
        width: 100%;
        height: 150px;
        margin: 0;
        padding: 0;
        border-right: 0;
        border-bottom: solid .6px #000;
        float: none;
    }
    .reviewContainer .content {
        top: 80px;
        text-align: center;
        margin: 0;
        padding-left: 35px;
        padding-right: 35px;
    }
    .contentContainer .title {
        font-size: 1em;
    }
    .contentContainer .btn {
        width: 100px;
        font-size: .8em;
    }
    .footerContainer .col {
        width: 100%;
    }
    @media (max-width: 430px) {
        .proContainer .card {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .reviewContainer .reviewCard {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
}